.dine-app {
    & .description-box {
        & .box-img {
            width: 540px;
            height: 720px;
        }
        & .description-text {
            width: 445px;
            height: 273px;
            margin-left: 125px;
            align-self: center;
            & .book-table-btn {
                width: 245px;
                height: 64px;
                font-weight: 600;
                font-size: 14px;
                border: unset;
                line-height: 16px;
                color: white;
                background-color: black;
            }
        }
    }
}
